
.cordova/*
.eventshistory/*
.intellisense/*
.metadata/*
.nativebindings/*
HeadlessBuild-Global.properties
konyplugins.xml
konypluginstate.xml
Sample/*
.webapps/*
temp/*
webapps/*
.emulators/*
homeworkTwo/*