
.cordova/cordova/config.xml
.cordova/cordova/hooks/README.md
.cordova/cordova/plugins/cordova-plugin-compat/package.json
.cordova/cordova/plugins/cordova-plugin-compat/plugin.xml
.cordova/cordova/plugins/cordova-plugin-compat/README.md
.cordova/cordova/plugins/cordova-plugin-compat/src/android/PermissionHelper.java
.cordova/cordova/plugins/cordova-plugin-file/CONTRIBUTING.md
.cordova/cordova/plugins/cordova-plugin-file/doc/de/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/de/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/de/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/es/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/es/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/es/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/fr/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/fr/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/fr/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/it/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/it/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/it/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ja/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ja/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ja/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ko/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ko/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ko/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/pl/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/pl/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/pl/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ru/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ru/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/zh/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/zh/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/zh/README.md
.cordova/cordova/plugins/cordova-plugin-file/LICENSE
.cordova/cordova/plugins/cordova-plugin-file/NOTICE
.cordova/cordova/plugins/cordova-plugin-file/package.json
.cordova/cordova/plugins/cordova-plugin-file/plugin.xml
.cordova/cordova/plugins/cordova-plugin-file/README.md
.cordova/cordova/plugins/cordova-plugin-file/RELEASENOTES.md
.cordova/cordova/plugins/cordova-plugin-file/src/android/AssetFilesystem.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/build-extras.gradle
.cordova/cordova/plugins/cordova-plugin-file/src/android/ContentFilesystem.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/DirectoryManager.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/EncodingException.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/FileExistsException.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/Filesystem.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/FileUtils.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/InvalidModificationException.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/LocalFilesystem.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/LocalFilesystemURL.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/NoModificationAllowedException.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/PendingRequests.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/TypeMismatchException.java
.cordova/cordova/plugins/cordova-plugin-file/src/blackberry10/index.js
.cordova/cordova/plugins/cordova-plugin-file/src/browser/FileProxy.js
.cordova/cordova/plugins/cordova-plugin-file/src/firefoxos/FileProxy.js
.cordova/cordova/plugins/cordova-plugin-file/src/ios/CDVAssetLibraryFilesystem.h
.cordova/cordova/plugins/cordova-plugin-file/src/ios/CDVAssetLibraryFilesystem.m
.cordova/cordova/plugins/cordova-plugin-file/src/ios/CDVFile.h
.cordova/cordova/plugins/cordova-plugin-file/src/ios/CDVFile.m
.cordova/cordova/plugins/cordova-plugin-file/src/ios/CDVLocalFilesystem.h
.cordova/cordova/plugins/cordova-plugin-file/src/ios/CDVLocalFilesystem.m
.cordova/cordova/plugins/cordova-plugin-file/src/osx/CDVFile.h
.cordova/cordova/plugins/cordova-plugin-file/src/osx/CDVFile.m
.cordova/cordova/plugins/cordova-plugin-file/src/osx/CDVLocalFilesystem.h
.cordova/cordova/plugins/cordova-plugin-file/src/osx/CDVLocalFilesystem.m
.cordova/cordova/plugins/cordova-plugin-file/src/ubuntu/file.cpp
.cordova/cordova/plugins/cordova-plugin-file/src/ubuntu/file.h
.cordova/cordova/plugins/cordova-plugin-file/src/windows/FileProxy.js
.cordova/cordova/plugins/cordova-plugin-file/src/wp/File.cs
.cordova/cordova/plugins/cordova-plugin-file/tests/plugin.xml
.cordova/cordova/plugins/cordova-plugin-file/tests/src/android/TestContentProvider.java
.cordova/cordova/plugins/cordova-plugin-file/tests/tests.js
.cordova/cordova/plugins/cordova-plugin-file/tests/www/fixtures/asset-test/asset-test.txt
.cordova/cordova/plugins/cordova-plugin-file/www/android/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/.jshintrc
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/copyTo.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/createEntryFromNative.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/FileProxy.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/getDirectory.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/getFile.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/getFileMetadata.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/getMetadata.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/getParent.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/info.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/moveTo.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/readAsArrayBuffer.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/readAsBinaryString.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/readAsDataURL.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/readAsText.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/readEntries.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/remove.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/removeRecursively.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/requestAllFileSystems.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/requestAnimationFrame.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/requestFileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/resolveLocalFileSystemURI.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/setMetadata.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/truncate.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/write.js
.cordova/cordova/plugins/cordova-plugin-file/www/browser/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/browser/isChrome.js
.cordova/cordova/plugins/cordova-plugin-file/www/browser/Preparing.js
.cordova/cordova/plugins/cordova-plugin-file/www/DirectoryEntry.js
.cordova/cordova/plugins/cordova-plugin-file/www/DirectoryReader.js
.cordova/cordova/plugins/cordova-plugin-file/www/Entry.js
.cordova/cordova/plugins/cordova-plugin-file/www/File.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileEntry.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileError.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileReader.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/fileSystemPaths.js
.cordova/cordova/plugins/cordova-plugin-file/www/fileSystems-roots.js
.cordova/cordova/plugins/cordova-plugin-file/www/fileSystems.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileUploadOptions.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileUploadResult.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileWriter.js
.cordova/cordova/plugins/cordova-plugin-file/www/firefoxos/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/Flags.js
.cordova/cordova/plugins/cordova-plugin-file/www/ios/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/LocalFileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/Metadata.js
.cordova/cordova/plugins/cordova-plugin-file/www/osx/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/ProgressEvent.js
.cordova/cordova/plugins/cordova-plugin-file/www/requestFileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/resolveLocalFileSystemURI.js
.cordova/cordova/plugins/cordova-plugin-file/www/ubuntu/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/ubuntu/fileSystems-roots.js
.cordova/cordova/plugins/cordova-plugin-file/www/ubuntu/FileWriter.js
.cordova/cordova/plugins/cordova-plugin-file/www/wp/FileUploadOptions.js
.cordova/cordova/plugins/cordova-plugin-whitelist/CONTRIBUTING.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/de/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/es/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/fr/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/it/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/ja/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/ko/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/pl/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/zh/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/LICENSE
.cordova/cordova/plugins/cordova-plugin-whitelist/NOTICE
.cordova/cordova/plugins/cordova-plugin-whitelist/package.json
.cordova/cordova/plugins/cordova-plugin-whitelist/plugin.xml
.cordova/cordova/plugins/cordova-plugin-whitelist/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/RELEASENOTES.md
.cordova/cordova/plugins/cordova-plugin-whitelist/src/android/WhitelistPlugin.java
.cordova/cordova/plugins/fetch.json
.cordova/cordova/www/css/index.css
.cordova/cordova/www/img/logo.png
.cordova/cordova/www/index.html
.cordova/cordova/www/js/index.js
.eventshistory/history.properties
.intellisense/defs/kony_api.json
.intellisense/defs/kony_api_mvc.json
.intellisense/defs/kony_api_mvc_extensions.json
.intellisense/defs/kony_sdk.json
.intellisense/metadata.json
.metadata/.konystudio/Build_Target_Platforms/Sample/settings.xml
.metadata/.konystudio/Build_Target_Platforms/TemenosCarApp/settings.xml
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/com.pat.tool.keditor/themes/activeTheme.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/8.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.pat.tool.keditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.4.0.20130601-0317.xml
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
.nativebindings/3.0/iOS/14.3/Kony_FileStorage-iOS-14.3.zip
.nativebindings/3.0/iOS/14.3/Kony_SDKCommons-iOS-14.3.zip
.nativebindings/3.0/iOS/14.3/Kony_SyncV2-iOS-14.3.zip
.nativebindings/3.0/nativeapi.json
.nativebindings/Android/4.0/Kony_FileStorage-Android-4.0.zip
.nativebindings/Android/4.0/Kony_SDKCommons-Android-4.0.zip
.nativebindings/Android/4.0/Kony_SyncV2-Android-4.0.zip
.nativebindings/nativeapi.json
HeadlessBuild-Global.properties
konyplugins.xml
konypluginstate.xml
Sample/.meta/.otherresourcesmeta/otherresources.meta-info
Sample/.meta/.testresourcesmeta/testresources.meta-info
Sample/.project
Sample/.webmeta/localfiles.meta-info
Sample/ant-contrib-0.6.jar
Sample/build.xml
Sample/controllers/desktop/flxSampleRowTemplateController/flxSampleRowTemplateController.js
Sample/controllers/desktop/flxSectionHeaderTemplateController/flxSectionHeaderTemplateController.js
Sample/controllers/mobile/flxSampleRowTemplateController/flxSampleRowTemplateController.js
Sample/controllers/mobile/flxSectionHeaderTemplateController/flxSectionHeaderTemplateController.js
Sample/controllers/mobile/HomeController/HomeController.js
Sample/controllers/tablet/flxSampleRowTemplateController/flxSampleRowTemplateController.js
Sample/controllers/tablet/flxSectionHeaderTemplateController/flxSectionHeaderTemplateController.js
Sample/forms/mobile/Home.sm/Home.json
Sample/HeadlessBuild.properties
Sample/konyplugins.xml
Sample/modules/konylibrary.js
Sample/modules/mbaasconfig.js
Sample/nativeapi.json
Sample/nativebindings/Android/4.0/Kony_FileStorage-Android-4.0.zip
Sample/nativebindings/Android/4.0/Kony_FileStorage-Android-4.0/tern.json
Sample/nativebindings/Android/4.0/Kony_SDKCommons-Android-4.0.zip
Sample/nativebindings/Android/4.0/Kony_SDKCommons-Android-4.0/tern.json
Sample/nativebindings/Android/4.0/Kony_SyncV2-Android-4.0.zip
Sample/nativebindings/Android/4.0/Kony_SyncV2-Android-4.0/tern.json
Sample/nativebindings/iOS/14.3/Kony_FileStorage-iOS-14.3.zip
Sample/nativebindings/iOS/14.3/Kony_FileStorage-iOS-14.3/tern.json
Sample/nativebindings/iOS/14.3/Kony_SDKCommons-iOS-14.3.zip
Sample/nativebindings/iOS/14.3/Kony_SDKCommons-iOS-14.3/tern.json
Sample/nativebindings/iOS/14.3/Kony_SyncV2-iOS-14.3.zip
Sample/nativebindings/iOS/14.3/Kony_SyncV2-iOS-14.3/tern.json
Sample/projectProperties.json
Sample/properties.json
Sample/resources/androidwear/common/acme.png
Sample/resources/androidwear/common/calbtn.png
Sample/resources/androidwear/common/defvideoposter.png
Sample/resources/androidwear/common/imagedrag.png
Sample/resources/androidwear/common/listboxarw.png
Sample/resources/androidwear/common/option1.png
Sample/resources/androidwear/common/option2.png
Sample/resources/androidwear/common/option3.png
Sample/resources/androidwear/common/option4.png
Sample/resources/androidwear/common/pageoffdot.png
Sample/resources/androidwear/common/pageondot.png
Sample/resources/androidwear/common/pinb.png
Sample/resources/androidwear/common/slider.png
Sample/resources/androidwear/common/slider_android.png
Sample/resources/androidwear/common/zoomout.png
Sample/resources/common/acme.png
Sample/resources/common/calbtn.png
Sample/resources/common/defvideoposter.png
Sample/resources/common/imagedrag.png
Sample/resources/common/infoplist_configuration.json
Sample/resources/common/kony_150.png
Sample/resources/common/kony_300.png
Sample/resources/common/kony_48.png
Sample/resources/common/kony_71.png
Sample/resources/common/kony_88.png
Sample/resources/common/listboxarw.png
Sample/resources/common/option1.png
Sample/resources/common/option2.png
Sample/resources/common/option3.png
Sample/resources/common/option4.png
Sample/resources/common/pageoffdot.png
Sample/resources/common/pageondot.png
Sample/resources/common/pinb.png
Sample/resources/common/slider.png
Sample/resources/common/slider_android.png
Sample/resources/common/slider_ios7.png
Sample/resources/common/splash.png
Sample/resources/common/zoomout.png
Sample/resources/customlibs/sdkplugin.properties
Sample/resources/desktop/common/close.png
Sample/resources/desktop/common/max.png
Sample/resources/desktop/common/min.png
Sample/resources/desktop/common/tableftarrow.png
Sample/resources/desktop/common/tabrightarrow.png
Sample/resources/fonts/Android Tablet/FontAwesome.ttf
Sample/resources/fonts/Android Wear OS/FontAwesome.ttf
Sample/resources/fonts/Android/FontAwesome.ttf
Sample/resources/fonts/Apple Watch OS/FontAwesome.ttf
Sample/resources/fonts/Desktop_web/FontAwesome.ttf
Sample/resources/fonts/iPad/FontAwesome.ttf
Sample/resources/fonts/iPhone/FontAwesome.ttf
Sample/resources/fonts/Kiosk/FontAwesome.ttf
Sample/resources/fonts/SPA Android Tablet/FontAwesome.ttf
Sample/resources/fonts/SPA Android/FontAwesome.ttf
Sample/resources/fonts/SPA Blackberry/FontAwesome.ttf
Sample/resources/fonts/SPA iPad/FontAwesome.ttf
Sample/resources/fonts/SPA iPhone/FontAwesome.ttf
Sample/resources/fonts/SPA Windows Tablet/FontAwesome.ttf
Sample/resources/fonts/SPA Windows/FontAwesome.ttf
Sample/resources/fonts/Windows8/FontAwesome.ttf
Sample/resources/fonts/WinPhone8/FontAwesome.ttf
Sample/resources/mobile/native/blackberry/down.png
Sample/resources/mobile/native/blackberry/f_down.png
Sample/resources/mobile/native/iphone/mainbundle/imagedrag.png
Sample/resources/mobile/native/iphone/mainbundle/splash.png
Sample/resources/mobile/native/iphone/mainbundle/splash@2x.png
Sample/resources/mobile/native/iphone/option1@2x.png
Sample/resources/mobile/native/iphone/option1@3x.png
Sample/resources/mobile/native/iphone/option2@2x.png
Sample/resources/mobile/native/iphone/option2@3x.png
Sample/resources/mobile/native/iphone/option3@2x.png
Sample/resources/mobile/native/iphone/option3@3x.png
Sample/resources/mobile/native/iphone/option4@2x.png
Sample/resources/mobile/native/iphone/option4@3x.png
Sample/resources/mobile/native/iphone/splash-568h@2x.png
Sample/resources/mobile/native/iphone/splash-667h@2x.png
Sample/resources/mobile/native/iphone/splash-736h@3x.png
Sample/resources/mobile/native/iphone/splash-812h@3x.png
Sample/resources/mobile/native/iphone/splash-896h@2x.png
Sample/resources/mobile/native/iphone/splash-896h@3x.png
Sample/resources/mobile/native/iphone/splash@2x.png
Sample/resources/tablet/native/ipad/mainbundle/imagedrag.png
Sample/resources/tablet/native/ipad/mainbundle/splash.png
Sample/resources/tablet/native/ipad/mainbundle/splash@2x.png
Sample/resources/tablet/native/ipad/option1@2x.png
Sample/resources/tablet/native/ipad/option1@3x.png
Sample/resources/tablet/native/ipad/option2@2x.png
Sample/resources/tablet/native/ipad/option2@3x.png
Sample/resources/tablet/native/ipad/option3@2x.png
Sample/resources/tablet/native/ipad/option3@3x.png
Sample/resources/tablet/native/ipad/option4@2x.png
Sample/resources/tablet/native/ipad/option4@3x.png
Sample/resources/tablet/native/ipad/splash.png
Sample/resources/tablet/native/ipad/splash@2x.png
Sample/resources/tablet/native/ipad/splashland.png
Sample/resources/tablet/native/ipad/splashland@2x.png
Sample/run.bat
Sample/run.sh
Sample/splashscreenproperties.json
Sample/templates/desktop/segments/SampleRowTemplate.sm/flxSampleRowTemplate.json
Sample/templates/desktop/segments/SampleRowTemplate.sm/lblDescription.json
Sample/templates/desktop/segments/SampleRowTemplate.sm/lblHeading.json
Sample/templates/desktop/segments/SampleRowTemplate.sm/lblStrip.json
Sample/templates/desktop/segments/SampleRowTemplate.sm/lblTime.json
Sample/templates/desktop/segments/SampleRowTemplate.sm/SampleRowTemplate.json
Sample/templates/desktop/segments/SampleSectionHeaderTemplate.sm/flxSectionHeaderTemplate.json
Sample/templates/desktop/segments/SampleSectionHeaderTemplate.sm/lblHeading.json
Sample/templates/desktop/segments/SampleSectionHeaderTemplate.sm/SampleSectionHeaderTemplate.json
Sample/templates/mobile/segments/SampleRowTemplate.sm/flxSampleRowTemplate.json
Sample/templates/mobile/segments/SampleRowTemplate.sm/lblDescription.json
Sample/templates/mobile/segments/SampleRowTemplate.sm/lblHeading.json
Sample/templates/mobile/segments/SampleRowTemplate.sm/lblStrip.json
Sample/templates/mobile/segments/SampleRowTemplate.sm/lblTime.json
Sample/templates/mobile/segments/SampleRowTemplate.sm/SampleRowTemplate.json
Sample/templates/mobile/segments/SampleSectionHeaderTemplate.sm/flxSectionHeaderTemplate.json
Sample/templates/mobile/segments/SampleSectionHeaderTemplate.sm/lblHeading.json
Sample/templates/mobile/segments/SampleSectionHeaderTemplate.sm/SampleSectionHeaderTemplate.json
Sample/templates/tablet/segments/SampleRowTemplate.sm/flxSampleRowTemplate.json
Sample/templates/tablet/segments/SampleRowTemplate.sm/lblDescription.json
Sample/templates/tablet/segments/SampleRowTemplate.sm/lblHeading.json
Sample/templates/tablet/segments/SampleRowTemplate.sm/lblStrip.json
Sample/templates/tablet/segments/SampleRowTemplate.sm/lblTime.json
Sample/templates/tablet/segments/SampleRowTemplate.sm/SampleRowTemplate.json
Sample/templates/tablet/segments/SampleSectionHeaderTemplate.sm/flxSectionHeaderTemplate.json
Sample/templates/tablet/segments/SampleSectionHeaderTemplate.sm/lblHeading.json
Sample/templates/tablet/segments/SampleSectionHeaderTemplate.sm/SampleSectionHeaderTemplate.json
Sample/testresources/Jasmine/Common/customReporter.js
Sample/testresources/Jasmine/Desktop/automationStartup.js
Sample/testresources/Jasmine/Mobile/automationStartup.js
Sample/testresources/Jasmine/Tablet/automationStartup.js
Sample/themes/defaultTheme/sknLblDescription.json
Sample/themes/defaultTheme/sknLblRowHeading.json
Sample/themes/defaultTheme/sknLblStrip.json
Sample/themes/defaultTheme/sknLblTimeStamp.json
Sample/themes/defaultTheme/sknSampleRowTemplate.json
Sample/themes/defaultTheme/sknSampleSectionHeaderTemplate.json
Sample/themes/defaultTheme/sknSectionHeaderLabelSkin.json
Sample/themes/defaultTheme/slDynamicNotificationForm.json
Sample/themes/defaultTheme/slForm.json
Sample/themes/defaultTheme/slPopup.json
Sample/themes/defaultTheme/slStaticNotificationForm.json
Sample/themes/defaultTheme/slTitleBar.json
Sample/themes/defaultTheme/slWatchForm.json
.metadata/.plugins/org.eclipse.core.resources/.root/9.tree
