
.cordova/cordova/config.xml
.cordova/cordova/hooks/README.md
.cordova/cordova/plugins/cordova-plugin-compat/package.json
.cordova/cordova/plugins/cordova-plugin-compat/plugin.xml
.cordova/cordova/plugins/cordova-plugin-compat/README.md
.cordova/cordova/plugins/cordova-plugin-compat/src/android/PermissionHelper.java
.cordova/cordova/plugins/cordova-plugin-file/CONTRIBUTING.md
.cordova/cordova/plugins/cordova-plugin-file/doc/de/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/de/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/de/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/es/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/es/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/es/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/fr/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/fr/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/fr/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/it/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/it/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/it/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ja/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ja/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ja/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ko/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ko/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ko/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/pl/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/pl/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/pl/README.md
.cordova/cordova/plugins/cordova-plugin-file/doc/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ru/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/ru/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/zh/index.md
.cordova/cordova/plugins/cordova-plugin-file/doc/zh/plugins.md
.cordova/cordova/plugins/cordova-plugin-file/doc/zh/README.md
.cordova/cordova/plugins/cordova-plugin-file/LICENSE
.cordova/cordova/plugins/cordova-plugin-file/NOTICE
.cordova/cordova/plugins/cordova-plugin-file/package.json
.cordova/cordova/plugins/cordova-plugin-file/plugin.xml
.cordova/cordova/plugins/cordova-plugin-file/README.md
.cordova/cordova/plugins/cordova-plugin-file/RELEASENOTES.md
.cordova/cordova/plugins/cordova-plugin-file/src/android/AssetFilesystem.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/build-extras.gradle
.cordova/cordova/plugins/cordova-plugin-file/src/android/ContentFilesystem.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/DirectoryManager.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/EncodingException.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/FileExistsException.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/Filesystem.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/FileUtils.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/InvalidModificationException.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/LocalFilesystem.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/LocalFilesystemURL.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/NoModificationAllowedException.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/PendingRequests.java
.cordova/cordova/plugins/cordova-plugin-file/src/android/TypeMismatchException.java
.cordova/cordova/plugins/cordova-plugin-file/src/blackberry10/index.js
.cordova/cordova/plugins/cordova-plugin-file/src/browser/FileProxy.js
.cordova/cordova/plugins/cordova-plugin-file/src/firefoxos/FileProxy.js
.cordova/cordova/plugins/cordova-plugin-file/src/ios/CDVAssetLibraryFilesystem.h
.cordova/cordova/plugins/cordova-plugin-file/src/ios/CDVAssetLibraryFilesystem.m
.cordova/cordova/plugins/cordova-plugin-file/src/ios/CDVFile.h
.cordova/cordova/plugins/cordova-plugin-file/src/ios/CDVFile.m
.cordova/cordova/plugins/cordova-plugin-file/src/ios/CDVLocalFilesystem.h
.cordova/cordova/plugins/cordova-plugin-file/src/ios/CDVLocalFilesystem.m
.cordova/cordova/plugins/cordova-plugin-file/src/osx/CDVFile.h
.cordova/cordova/plugins/cordova-plugin-file/src/osx/CDVFile.m
.cordova/cordova/plugins/cordova-plugin-file/src/osx/CDVLocalFilesystem.h
.cordova/cordova/plugins/cordova-plugin-file/src/osx/CDVLocalFilesystem.m
.cordova/cordova/plugins/cordova-plugin-file/src/ubuntu/file.cpp
.cordova/cordova/plugins/cordova-plugin-file/src/ubuntu/file.h
.cordova/cordova/plugins/cordova-plugin-file/src/windows/FileProxy.js
.cordova/cordova/plugins/cordova-plugin-file/src/wp/File.cs
.cordova/cordova/plugins/cordova-plugin-file/tests/plugin.xml
.cordova/cordova/plugins/cordova-plugin-file/tests/src/android/TestContentProvider.java
.cordova/cordova/plugins/cordova-plugin-file/tests/tests.js
.cordova/cordova/plugins/cordova-plugin-file/tests/www/fixtures/asset-test/asset-test.txt
.cordova/cordova/plugins/cordova-plugin-file/www/android/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/.jshintrc
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/copyTo.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/createEntryFromNative.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/FileProxy.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/getDirectory.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/getFile.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/getFileMetadata.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/getMetadata.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/getParent.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/info.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/moveTo.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/readAsArrayBuffer.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/readAsBinaryString.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/readAsDataURL.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/readAsText.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/readEntries.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/remove.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/removeRecursively.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/requestAllFileSystems.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/requestAnimationFrame.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/requestFileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/resolveLocalFileSystemURI.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/setMetadata.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/truncate.js
.cordova/cordova/plugins/cordova-plugin-file/www/blackberry10/write.js
.cordova/cordova/plugins/cordova-plugin-file/www/browser/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/browser/isChrome.js
.cordova/cordova/plugins/cordova-plugin-file/www/browser/Preparing.js
.cordova/cordova/plugins/cordova-plugin-file/www/DirectoryEntry.js
.cordova/cordova/plugins/cordova-plugin-file/www/DirectoryReader.js
.cordova/cordova/plugins/cordova-plugin-file/www/Entry.js
.cordova/cordova/plugins/cordova-plugin-file/www/File.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileEntry.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileError.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileReader.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/fileSystemPaths.js
.cordova/cordova/plugins/cordova-plugin-file/www/fileSystems-roots.js
.cordova/cordova/plugins/cordova-plugin-file/www/fileSystems.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileUploadOptions.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileUploadResult.js
.cordova/cordova/plugins/cordova-plugin-file/www/FileWriter.js
.cordova/cordova/plugins/cordova-plugin-file/www/firefoxos/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/Flags.js
.cordova/cordova/plugins/cordova-plugin-file/www/ios/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/LocalFileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/Metadata.js
.cordova/cordova/plugins/cordova-plugin-file/www/osx/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/ProgressEvent.js
.cordova/cordova/plugins/cordova-plugin-file/www/requestFileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/resolveLocalFileSystemURI.js
.cordova/cordova/plugins/cordova-plugin-file/www/ubuntu/FileSystem.js
.cordova/cordova/plugins/cordova-plugin-file/www/ubuntu/fileSystems-roots.js
.cordova/cordova/plugins/cordova-plugin-file/www/ubuntu/FileWriter.js
.cordova/cordova/plugins/cordova-plugin-file/www/wp/FileUploadOptions.js
.cordova/cordova/plugins/cordova-plugin-whitelist/CONTRIBUTING.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/de/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/es/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/fr/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/it/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/ja/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/ko/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/pl/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/doc/zh/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/LICENSE
.cordova/cordova/plugins/cordova-plugin-whitelist/NOTICE
.cordova/cordova/plugins/cordova-plugin-whitelist/package.json
.cordova/cordova/plugins/cordova-plugin-whitelist/plugin.xml
.cordova/cordova/plugins/cordova-plugin-whitelist/README.md
.cordova/cordova/plugins/cordova-plugin-whitelist/RELEASENOTES.md
.cordova/cordova/plugins/cordova-plugin-whitelist/src/android/WhitelistPlugin.java
.cordova/cordova/plugins/fetch.json
.cordova/cordova/www/css/index.css
.cordova/cordova/www/img/logo.png
.cordova/cordova/www/index.html
.cordova/cordova/www/js/index.js
.eventshistory/history.properties
.intellisense/defs/kony_api.json
.intellisense/defs/kony_api_mvc.json
.intellisense/defs/kony_api_mvc_extensions.json
.intellisense/defs/kony_sdk.json
.intellisense/metadata.json
.metadata/.konystudio/Build_Target_Platforms/Sample/settings.xml
.metadata/.konystudio/Build_Target_Platforms/TemenosCarApp/settings.xml
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/com.pat.tool.keditor/themes/activeTheme.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/Sample/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.pat.tool.keditor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.4.0.20130601-0317.xml
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/version.ini
.nativebindings/3.0/iOS/14.3/Kony_FileStorage-iOS-14.3.zip
.nativebindings/3.0/iOS/14.3/Kony_SDKCommons-iOS-14.3.zip
.nativebindings/3.0/iOS/14.3/Kony_SyncV2-iOS-14.3.zip
.nativebindings/3.0/nativeapi.json
.nativebindings/Android/4.0/Kony_FileStorage-Android-4.0.zip
.nativebindings/Android/4.0/Kony_SDKCommons-Android-4.0.zip
.nativebindings/Android/4.0/Kony_SyncV2-Android-4.0.zip
.nativebindings/nativeapi.json
HeadlessBuild-Global.properties
konyplugins.xml
konypluginstate.xml
